@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IPagedList<Shop_Bear.Models.EF.Product>
@{
    ViewData["title"] = "Sản phẩm";
}

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a asp-controller="Products" asp-action="Index" class="nav-link">SP</a>
        </li>
    </ul>
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản Lý Sản Phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Sản Phấm</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh Sách Sản Phẩm</h3>

            <div class="card-tools">
                <a asp-controller="Products" asp-action="Add" class="btn btn-primary">Thêm sản phẩm</a>
            </div>
        </div>
        <div class="card-body">
            <div style="display: flex;justify-content: right;">
                <form asp-controller="Products" asp-action="Index" method="get" class="form-inline">
                    <div class="input-group input-group-sm">
                        <input type="text" name="searchString" class="form-control" placeholder="Search" value="@ViewBag.SearchString" />
                        <span class="input-group-append">
                            <button type="submit" class="btn btn-info btn-flat"><i class="fas fa-search"></i></button>
                        </span>
                    </div>
                </form>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="SelectAll" /></th>
                        <th>STT</th>
                        <th>Hình Ảnh</th>
                        <th>Tên sản phẩm</th>
                        <th>Danh mục</th>
                        <th>Số lượng</th>
                        <th>Giá</th>
                        <th>Ngày tạo</th>
                        <th>Trạng Thái</th>
                        <th>Home</th>
                        <th>Sale</th>
                        <th>Hot</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = 1;
                        foreach (var item in Model)
                        {
                            var strCheck = item.IsActive ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                            var strCheckHome = item.IsHome ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                            var strCheckSale = item.IsSale ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                            var strCheckHot = item.IsHot ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";

                            <tr id="trow_@item.Id">
                                <td><input type="checkbox" class="cbkItem" value="@item.Id" /></td>
                                <td>@((Model.PageNumber - 1) * Model.PageSize + i)</td>
                                <td><img class="imgproduct" data-id="@item.Id" src="@item.ProductImage.FirstOrDefault(x => x.IsDefault).Image" width="100" /></td>
                                <td>@item.Title</td>
                                <td>@(item.ProductCategory != null ? item.ProductCategory.Title : "Không có danh mục")</td>
                                <td>@item.Quantity</td>
                                <td>@item.Price</td>
                                <td>@item.CreateDate.ToString("dd/MM/yyyy")</td>
                                <td>
                                    <a href='#' data-id="@item.Id" class="btnActive">
                                        @Html.Raw(strCheck)
                                    </a>
                                </td>
                                <td>
                                    <a href='#' data-id="@item.Id" class="btnHome">
                                        @Html.Raw(strCheckHome)
                                    </a>
                                </td>
                                <td>
                                    <a href='#' data-id="@item.Id" class="btnSale">
                                        @Html.Raw(strCheckSale)
                                    </a>
                                </td>
                                <td>
                                    <a href='#' data-id="@item.Id" class="btnHot">
                                        @Html.Raw(strCheckHot)
                                    </a>
                                </td>
                                <td>
                                    <a asp-controller="Products" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-sm btn-primary">Sửa</a>
                               </td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">Không có bản ghi nào !</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div style="display: flex;justify-content: center;">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, searchString = ViewBag.SearchString }),
                new X.PagedList.Web.Common.PagedListRenderOptions
                {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" }
                })
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
<div id="dialog">
    <iframe id="myIframe" style="border: 0; width: 100%; height: 100%;"></iframe>
</div>
@section Scripts
    {
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script>
        $('body').on('click', '#BtnDeleteAll', function (e) {
            e.preventDefault();
            var str = "";
            var checkbox = $(this).parents('.card').find('tr td input:checkbox');
            var i = 0;
            checkbox.each(function () {
                if (this.checked) {
                    var _id = $(this).val();
                    if (i === 0) {
                        str += _id;
                    } else {
                        str += "," + _id;
                    }
                    i++;
                } else {
                    checkbox.attr('selected', '');
                }
            });
            if (str.length > 0) {
                var conf = confirm('Bạn có muốn xóa các bản ghi này hay không?');
                if (conf === true) {
                    $.ajax({
                        url: '/admin/products/deleteAll',
                        type: 'POST',
                        data: { ids: str },
                        success: function (rs) {
                            if (rs.success) {
                                location.reload();
                            }
                        }
                    });
                }
            }
        });
        $(document).ready(function () {
            //hiển thị form upload ảnh
            $("#dialog").dialog({
                autoOpen: false,
                show: "fade",
                hide: "fade",
                modal: true,
                height: '600',
                width: '700',
                resizable: true,
                title: 'Quản lý ảnh sản phẩm',
                close: function () {
                    window.location.reload();
                }
            });
            $('body').on("click", ".imgproduct", function () {
                var proid = $(this).attr("data-id");
                $("#dialog #myIframe").attr("src", "/admin/ProductImage/Index?id=" + proid);
                $('#dialog').dialog('open');
                return false;
            });


            $('body').on('change', '#SelectAll', function () {
                var checkStatus = this.checked;
                var checkbox = $(this).parents('.card-body').find('tr td input:checkbox');
                checkbox.each(function () {
                    this.checked = checkStatus;
                    if (this.checked) {
                        checkbox.attr('selected', 'checked');
                    } else {
                        checkbox.attr('selected', '');
                    }
                });
            });

            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data("id");
                var conf = confirm('Bạn có muốn xóa sản phẩm này không')
                if (conf === true) {
                    $.ajax({
                        url: '/admin/products/delete',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('#trow_' + id).remove();
                            }
                        }
                    });
                }
            });
            $('body').on('click', '.btnActive', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = btn.data("id");
                $.ajax({
                    url: '/admin/Products/IsActive',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            if (rs.isActive) {
                                btn.html("<i class='fa fa-check text-success'></i>");
                            }
                            else {
                                btn.html("<i class='fas fa-times text-danger'></i>")
                            }
                        }
                    }
                });
            });
            $('body').on('click', '.imgproduct', function () {
                var productId = $(this).data('id'); // Assuming you have a data-id attribute on your image
                var imageUrl = '@Url.Action("Index", "ProductImage")?productId=' + productId;
            });
            $('body').on('click', '.btnHome', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = btn.data("id");
                $.ajax({
                    url: '/admin/Products/IsHome',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            if (rs.isHome) {
                                btn.html("<i class='fa fa-check text-success'></i>");
                            }
                            else {
                                btn.html("<i class='fas fa-times text-danger'></i>")
                            }
                        }
                    }
                });
            });
            $('body').on('click', '.btnSale', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = btn.data("id");
                $.ajax({
                    url: '/admin/Products/IsSale',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            if (rs.isSale) {
                                btn.html("<i class='fa fa-check text-success'></i>");
                            }
                            else {
                                btn.html("<i class='fas fa-times text-danger'></i>")
                            }
                        }
                    }
                });
            });
            $('body').on('click', '.btnHot', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = btn.data("id");
                $.ajax({
                    url: '/admin/Products/IsHot',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            if (rs.isHot) {
                                btn.html("<i class='fa fa-check text-success'></i>");
                            }
                            else {
                                btn.html("<i class='fas fa-times text-danger'></i>")
                            }
                        }
                    }
                });
            });

        });
    </script>
}