@model IEnumerable<Shop_Bear.Models.EF.Product>
@{
	ViewData["Title"] = "Danh sách sản phẩm";
}
<link rel="stylesheet" type="text/css" href="~/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/assets/styles/categories_responsive.css">

<div class="container product_section_container">
	<div class="row">
		<div class="col product_section clearfix">

			<!-- Breadcrumbs -->

			<div class="breadcrumbs d-flex flex-row align-items-center">
				<ul>
					<li><a asp-controller="Home">Home</a></li>
					<li class="active"><a asp-action="Index" asp-controller="Products"><i class="fa fa-angle-right" aria-hidden="true"></i>Products</a></li>
				</ul>
			</div>

			<!-- Sidebar -->

			<div class="sidebar">
				<div class="sidebar_section">
					<div class="sidebar_title">
						<h5>Danh mục</h5>
					</div>
					<ul class="sidebar_categories">
						@Html.Partial("_MenuProductCategoryPartial")
					</ul>
				</div>

				@* <!-- Price Range Filtering -->
				<div class="sidebar_section">
				<div class="sidebar_title">
				<h5>Giá</h5>
				</div>
				<p>
				<input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
				</p>
				<div id="slider-range"></div>
				<div class="filter_button"><span>Lọc</span></div>
				</div>	 *@
			</div>

			<!-- Main Content -->

			<div class="main_content">

				<!-- Products -->

				<div class="products_iso">
					<div class="row">
						<div class="col">

							<!-- Product Sorting -->

							<div class="product_sorting_container product_sorting_container_top">
								<ul class="product_sorting">
									<li>
										<span class="type_sorting_text">Tìm kiếm</span>
										<i class="fa fa-angle-down"></i>
										<ul class="sorting_type">
											<li class="type_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Mặc định</span></li>
											<li class="type_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Giá tăng dần</span></li>
											<li class="type_sorting_btn" data-isotope-option='{ "sortBy": "name" }'><span>Theo tên</span></li>
										</ul>
									</li>
									<li>
										<span>Hiển thị</span>
										<span class="num_sorting_text">6</span>
										<i class="fa fa-angle-down"></i>
										<ul class="sorting_num">
											<li class="num_sorting_btn"><span>6</span></li>
											<li class="num_sorting_btn"><span>12</span></li>
											<li class="num_sorting_btn"><span>24</span></li>
										</ul>
									</li>
								</ul>
							</div>

							<!-- Product Grid -->

							<div class="product-grid">

								<!-- Product 1 -->
								@if (Model != null && Model.Any())
								{
									foreach (var item in Model)
									{
										var sale = ((@item.Price - @item.PriceSale) * 100) / @item.Price;
										var saleFormatted = $"{sale:N2}";


										<div class="product-item men">
											<div class="product discount product_filter">
												<div class="product_image">
													<a asp-action="Detail" asp-controller="Products" asp-route-Alias="@item.Alias"><img src="@item.ProductImage.FirstOrDefault(x => x.IsDefault).Image" alt=""></a>
												</div>
												<div class="favorite favorite_left"></div>
												<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-@saleFormatted%</span></div>
												<div class="product_info">
													<h6 class="product_name"><a asp-action="Detail" asp-controller="Products" asp-route-Alias="@item.Alias">@item.Title</a></h6>
													<div class="product_price">@item.PriceSale<span>@item.Price</span></div>
												</div>
											</div>
											<div class="red_button add_to_cart_button"><a asp-action="Add" asp-controller="Cart" asp-route-Id="@item.Id">add to cart</a></div>
										</div>
									}
								}
							</div>

							<!-- Product Sorting -->

							<div class="product_sorting_container product_sorting_container_bottom clearfix">
								<ul class="product_sorting">
									<li>
										<span>Hiển thị:</span>
										<span class="num_sorting_text">04</span>
										<i class="fa fa-angle-down"></i>
										<ul class="sorting_num">
											<li class="num_sorting_btn"><span>01</span></li>
											<li class="num_sorting_btn"><span>02</span></li>
											<li class="num_sorting_btn"><span>03</span></li>
											<li class="num_sorting_btn"><span>04</span></li>
										</ul>
									</li>
								</ul>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@*  Nếu sảy ra hiện tượng lỗi layout hoặc hình ảnh thì do nó chưa truy cập được phần scripts *@
@section scripts {
	<script src="~/assets/js/categories_custom.js"></script>
}
