@using Shop_Bear.Models.ViewModels;
@model CartItemViewModel
@{
	ViewData["Title"] = "Giỏ Hàng";
}

<link rel="stylesheet" type="text/css" href="~/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/assets/styles/categories_responsive.css">

<div class="container product_section_container">
	<div class="row">
		<div class="col product_section clearfix">

			<!-- Breadcrumbs -->

			<div class="breadcrumbs d-flex flex-row align-items-center">
				<ul>
					<li><a asp-controller="Home">Home</a></li>
					<li class="active"><a asp-controller="Cart" asp-action="Index"><i class="fa fa-angle-right" aria-hidden="true"></i>Cart</a></li>
				</ul>
			</div>

			<!-- Main Content -->
			<div class="row">
				<div class="col-md-12">
					<!-- Products -->
					<table class="table">
						<tr class="text-center">
							<th>STT</th>
							<th>Ảnh</th>
							<th>Tên sản phẩm</th>
							<th>Đơn giá</th>
							<th>Số lượng</th>
							<th>Số tiền</th>
							<th>
							</th>
						</tr>
						@if (Model.CartItems.Count > 0)
						{
							var i = 0;
							var tongtien = decimal.Zero;
							foreach (var item in Model.CartItems)
							{
								tongtien += item.Total;
								<tr class="text-center" id="">
									<td>@(i + 1)</td>
									<td><a asp-action="Detail" asp-controller="Products" asp-route-Alias="@item.Alias"><img src="@item.Image" width="100" /></a></td>
									<td><a asp-action="Detail" asp-controller="Products" asp-route-Alias="@item.Alias">@item.ProductName</a></td>
									<td>@item.Price VNĐ</td>
									<td>
										<a class="btn btn-danger btn-sm" asp-controller="Cart" asp-action="Decrease" asp-route-Id="@item.ProductId"> - </a>
										@item.Quantity
										<a class="btn btn-success btn-sm" asp-controller="Cart" asp-action="Increase" asp-route-Id="@item.ProductId"> + </a>
									</td>
									<th>@item.Total</th>
									<td>
										<a asp-controller="Cart" asp-action="Remove" asp-route-Id="@item.ProductId" data-id="@item.ProductId" class="btn btn-sm btn-danger btnDelete">Xóa</a>
									</td>								
								</tr>
								i++;
							}
							<tr>
								<td colspan="6">
									<center>
										<h4>
											<br>
											<a class="btn btn-xl text-center" style="background-color: green; color:wheat" asp-controller="Products" asp-action="Index">
													Continue Shopping	
											</a>
											<a class="btn btn-danger btn-xl text-right" asp-controller="Cart" asp-action="Clear">
												Clear 
											</a>
										</h4>
									</center>
								</td>
							</tr>
							<tr>
								<th colspan="6" class="text-right">Thành tiền:</th>
								<th class="text-center">@tongtien VNĐ</th>
							</tr>
							<tr>
								<th colspan="6" class="text-right"></th>
								<th class="text-center">
									@if (User.Identity?.IsAuthenticated ?? false)
									{
										<a asp-controller="CheckOut" asp-action="CheckOut" class="btn btn-xxl btn-success">Thanh toán</a>
									}
									else
									{
										<a asp-controller="Account" asp-action="LoginCart" class="btn btn-xxl btn-success">Thanh toán</a>
									}
								</th>
							</tr>
						}
						else
						{
							<tr>
								<td colspan="6">
									<center>
										<h4>
											No Iteam
											<br>
											<a asp-controller="Products" asp-action="Index">
												<button class="btn btn-xl" style="background-color: red; color:wheat">
													Continue Shopping
												</button>
											</a>
										</h4>
									</center>
								</td>
							</tr>
						}
					</table>
				</div>

			</div>
		</div>
	</div>
</div>
@section Scripts {
	<script src="~/assets/js/categories_custom.js"></script>
}


