@* @model IEnumerable<Shop_Bear.Models.ShoppingCartItem>

@{
	ViewData["Title"] = "Giỏ Hàng";
}

<link rel="stylesheet" type="text/css" href="~/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/assets/styles/categories_responsive.css">

<div class="container product_section_container">
	<div class="row">
		<div class="col product_section clearfix">

			<!-- Breadcrumbs -->

			<div class="breadcrumbs d-flex flex-row align-items-center">
				<ul>
					<li><a asp-controller="Home">Home</a></li>
					<li class="active"><a href="index.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Giỏ Hàng</a></li>
				</ul>
			</div>

			<!-- Main Content -->
			<div class="row">
				<div class="col-md-12">
					<!-- Products -->
					<table class="table">
						<tr class="text-center">
							<th>STT</th>
							<th>Ảnh</th>
							<th>Tên sản phẩm</th>
							<th>Đơn giá</th>
							<th>Số lượng</th>
							<th>Số tiền</th>
							<th>
							</th>
						</tr>
						@if (Model != null && Model.Any())
						{
							var i = 0;
							foreach (var item in Model)
							{
								<tr class="text-center" id="trow_@item.ProductId">
									<td>@(i + 1)</td>
									<td><a asp-action="Detail" asp-controller="Products" asp-route-Alias="@item.Alias"><img src="@item.ProductImg" width="150" /></a></td>
									<td><a asp-action="Detail" asp-controller="Products" asp-route-Alias="@item.Alias">@item.ProductName</a></td>
									<td>@item.Price</td>
									<td>@item.Quantity</td>
									<td>@item.PriceTotal</td>
									<td>
										<a href="#" data-id="@item.ProductId" class="btn btn-sm btn-danger btnDelete">Xóa</a>
									</td>
								</tr>
								i++;
							}
						}
						else
						{
							<tr>
								<td colspan="6">
									<center>
										<h4>
											No Iteam
											<br>
											<a asp-controller="Products" asp-action="Index">
												<button class="btn btn-xl" style="background-color: red; color:wheat">
													Continue Shopping
												</button>
											</a>
										</h4>
									</center>
								</td>
							</tr>
						}
					</table>
				</div>

			</div>
		</div>
	</div>
</div>
@section Scripts {
	<script src="~/assets/js/categories_custom.js"></script>
}

 *@