@model IEnumerable<Shop_Bear.Models.EF.Product>
@if (Model != null && Model.Any())
{
	@foreach (var item in Model)
	{

		<a asp-action="Detail" asp-controller="Products" asp-route-Alias="@item.Alias">
			<div class="product-item men">
				<div class="product discount product_filter">
					<div class="product_image">
						<img src="@item.ProductImage.FirstOrDefault(x => x.IsDefault).Image" alt="">

					</div>
					<div class="favorite favorite_left"></div>
					<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
					<div class="product_info">
						<h6 class="product_name"><a href="single.html">@item.Title</a></h6>
						<div class="product_price">@item.PriceSale<span>@item.Price</span></div>
					</div>
				</div>
				<div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id="@item.Id">add to cart</a></div>
			</div>
		</a>
	}

}

