@model IEnumerable<Shop_Bear.Models.EF.WishList>
@{
	ViewData["Title"] = "Sản phẩm yêu thích";
}
<link rel="stylesheet" type="text/css" href="~/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/assets/styles/categories_responsive.css">

<div class="container product_section_container">
	<div class="row">
		<div class="col product_section clearfix">

			<!-- Breadcrumbs -->

			<div class="breadcrumbs d-flex flex-row align-items-center">
				<ul>
					<li><a asp-controller="Home">Home</a></li>
					<li class="active"><a asp-action="Index" asp-controller="Products"><i class="fa fa-angle-right" aria-hidden="true"></i>WishList</a></li>
				</ul>
			</div>

			<!-- Main Content -->

			<div class="main_content">

				<!-- Products -->
				<h4>Sản phẩm yêu thích</h4>
				<div class="products_iso">
					<div class="row">
						<div class="col">
							<div class="product-grid">

								<!-- Product 1 -->
								@if (Model != null && Model.Any())
								{
									foreach (var item in Model)
									{
										var sale = ((@item.Product.Price - @item.Product.PriceSale) * 100) / @item.Product.Price;
										var saleFormatted = $"{sale:N2}";


										<div class="product-item men">
											<div class="product discount product_filter">
												<div class="product_image">
													<a asp-action="Detail" asp-controller="Products" asp-route-Alias="@item.Product.Alias">
														<img src="@item.Product.ProductImage.FirstOrDefault(x => x.IsDefault).Image" alt="">
													</a>
												</div>
												<div>
													<form method="post" asp-action="RemoveWishList" asp-controller="WishList">
														<input type="hidden" name="id" value="@item.ProductId" />
														<button type="submit" class="favorite favorite_left" title="Add to wishlist" style="border: none; background: none;position: absolute;">
														</button>
													</form>
												</div>
												<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-@saleFormatted%</span></div>
												<div class="product_info">
													<h6 class="product_name"><a asp-action="Detail" asp-controller="Products" asp-route-Alias="@item.Product.Alias">@item.Product.Title</a></h6>
													<div>Số lượng: 1</div>
													<div class="product_price">@item.Product.PriceSale<span>@item.Product.Price</span></div>
												</div>
											</div>
											<div class="red_button add_to_cart_button"><a asp-action="Add" asp-controller="Cart" asp-route-Id="@item.Product.Id">add to cart</a></div>
										</div>
									}
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@*  Nếu sảy ra hiện tượng lỗi layout hoặc hình ảnh thì do nó chưa truy cập được phần scripts *@
@section scripts {
	<script src="~/assets/js/categories_custom.js"></script>
}
